body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #ffe6f2;
    color: #333;
    background-image: url('lebron.jpg'); /* Corrected */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
